{% extends 'base.html.twig' %}
{% block title %} Ajout Medicament {% endblock %}
{% block body %}
<h2>Ajouter un Medicament</h2>
{{ form_start(f) }}
    {{ form_widget(f) }}
{{ form_end (f) }}
{% endblock %}